{% extends 'base.html.twig' %} {% block title %}Conditions Générales
d'Utilisation{% endblock %} {% block body %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae suscipit
    facilis placeat quisquam necessitatibus sint aspernatur veritatis, delectus
    illum iste magni, unde repellendus optio atque aliquid quis quia voluptate
    corporis.
</p>
{% endblock %}
