{% extends 'base.html.twig' %} {% block title %}Politique de confidentialité{%
endblock %} {% block body %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aut qui autem.
    Vitae suscipit, blanditiis rerum quae corrupti perspiciatis ipsam expedita
    magni asperiores? Accusamus labore in vero, quam consequuntur ducimus?
</p>
{% endblock %}
