{% extends 'base.html.twig' %} {% block title %}Mentions légales{% endblock %}
{% block body %}
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
    blanditiis molestiae molestias tempore sunt consequatur voluptatem mollitia
    sed! Nemo aliquam animi corporis. Dolore vero quod quibusdam dicta vel fuga
    inventore.
</p>
{% endblock %}
