{% extends 'base.html.twig' %} {% block title %}Qui sommes-nous{% endblock %} {%
block body %}
<p>
    Ce site est un blog très simple réalisé par un étudiant de l’Efrei dans le
    cadre d’un exercice avec Symfony.
</p>
{% endblock %}
