<h1>Confirme ton email</h1>

<p>
    Clique sur le lien pour confirmer ton adresse :<br /><br />
    <a href="{{ signedUrl | raw }}">Confirmer mon email</a>.<br />
    Ce lien expirera dans
    {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
